/* Variables
 * ========================================================================== */
$grid-columns-number: 12;
$grid-column-gutter: 15px;
$grid-row-bottom-space: 15px;

* {
	box-sizing: border-box;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: $grid-row-bottom-space;

	.row {
		margin-left: -$grid-column-gutter;
		margin-right: -$grid-column-gutter;
	}
}

.column {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;

	padding-left: $grid-column-gutter;
	padding-right: $grid-column-gutter;
}

/* Horizontal modifiers
 * ========================================================================== */
.columns--left {
	justify-content: flex-start;
}

.columns--center {
	justify-content: center;
}

.columns--right {
	justify-content: flex-end;
}

.columns--between {
	justify-content: space-between;
}

.columns--around {
	justify-content: space-around;
}

/* Vertical modifiers
 * ========================================================================== */
.columns--top {
	align-items: flex-start;
}

.columns--middle {
	align-items: center;
}

.columns--bottom {
	align-items: flex-end;
}

/* Columns
 * ========================================================================== */
@for $i from 1 through $grid-columns-number {
	.column-#{$i} {
		@extend .column;

		$column-width: percentage($i / $grid-columns-number);
		flex-basis: $column-width;
		max-width: $column-width;
	}
}

/* Offsets
 * ========================================================================== */
@for $i from 1 through ($grid-columns-number - 1) {
	.column-offset-#{$i} {
		margin-left: percentage($i / $grid-columns-number);
	}
}
